$color-primary: #ff6900;
$color-secondary: #1a1a1a;
$color-discount: #ff0000;
$color-value: #008000;
$color-black: #000000;
$color-white: #ffffff;

$font-xs: 0.6rem;
$font-s: 0.7rem;
$font-m: 0.8rem;
$font-l: 1rem;
$font-xl: 1.8rem;
